*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas{
    background-color: black;
    /* border: 1px solid white; */
}
body{
    overflow-y:  hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.text {
    color: red;
}

main{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}


